@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.pulse;

.indicator {
  display: flex;
  align-items: center;
  gap: 80px;
}

@include m.medium {
  .indicator:not(.x3) {
    position: absolute;
    left: 50%;
    top: 230px;
    translate: -50% 0;
    gap: 40px;
  }
}

@include m.small {
  .indicator {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    gap: 40px;
  }

  .indicator {
    top: 180px !important;
  }
}

@media (max-width: 620px) {
  .indicator {
    top: 235px !important;
  }
}

@media (max-width: 500px) {
  .indicator {
    top: 280px !important;
  }
}

.indicator .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.indicator.x5 .player {
  flex-direction: row;
}

@include m.medium {
  .indicator .player {
    flex-direction: row;
  }
}

.indicator .player .symbol {
  width: 60px;
  height: 60px;
  border: 3px solid #ff6b6b;
  border-radius: 50%;
  @include m.center-x-y;
  font-size: 1.75rem;
  padding-bottom: 5px;
  position: relative;
}

.indicator .player.p1 .symbol {
  font-size: 2rem;
  font-weight: 400;
  border-color: #ff6b6b;
  color: #ff6b6b;
  background: #3b333f;
}

.indicator .player.p2 .symbol {
  font-weight: bold;
  border-color: #4ecdc4;
  color: #4ecdc4;
  background: #293d48;
  position: relative;
  z-index: 1;
}

.indicator .player .symbol::before,
.indicator .player .symbol::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  border: solid 3px transparent;
  border-radius: inherit;
  z-index: -1;
}

.indicator:not(.disable) .player.p1.active .symbol::before {
  border-color: #ff6b6b;
  animation: pulse 1.3s ease infinite;
}

.indicator:not(.disable) .player.p1.active .symbol::after {
  border-color: #ff6b6b;
  animation: pulse 1.3s .15s ease infinite;
}

.indicator:not(.disable) .player.p2.active .symbol::before {
  border-color: #4ecdc4;
  animation: pulse 1.3s ease infinite;
}

.indicator:not(.disable) .player.p2.active .symbol::after {
  border-color: #4ecdc4;
  animation: pulse 1.3s .15s ease infinite;
}

.indicator .player.p1 .symbol .wrapper {
  position: relative;
  top: 3px;
}

.indicator .player.p2 .symbol .wrapper {
  position: relative;
  top: 1px;
}

.indicator .player .label {
  font-size: .875rem;
  font-weight: 500;
  color: #d3d5d8;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color .3s ease;
}

@media (max-width: 300px) {
  .indicator .player .label {
    display: none;
  }
}

.indicator:not(.disable) .player.p1.active .label {
  color: #ff6b6b;
}

.indicator:not(.disable) .player.p2.active .label {
  color: #4ecdc4;
}