.button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #313946;
  border: 1px solid #5a606a;
  color: #e9e9ec;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: .75rem;
  cursor: pointer;
  transition: background .2s ease, border-color .2s ease;

  &:hover {
    background: #3b4350;
    border-color: #777c84;
  }

  &:focus-visible {
    background: #3b4350;
    border-color: #fff;
  }

  &:active {
    background: #474e59;
    border-color: #777c84;
  }
}