.game {
  max-width: 1060px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.controls {
  flex: 1;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: sticky;
  top: 30px;
}