@use "@/styles/mixins" as m;

.aboutOverlay {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .85);
  @include m.center-x-y;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.aboutArticle {
  background: linear-gradient(145deg,
      rgba(20, 28, 40, .98),
      rgba(12, 17, 24, .98));
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 10px;
  padding: 45px;
  max-width: 840px;
  width: 90%;
  max-height: 85vh;
  overflow-y: auto;
}

.aboutArticle::-webkit-scrollbar {
  background: rgba(255, 255, 255, .03);
  width: 8px;
}

.aboutArticle::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .2);

  &:hover {
    background: rgba(255, 255, 255, .6);
  }
}

.aboutArticle::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .05);
}

@include m.small {
  .aboutArticle {
    padding: 14px;
    width: 100%;
    min-height: 100dvh;
  }
}

.aboutArticle :where(p, li) {
  margin-bottom: 18px;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, .88);
  text-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

@include m.very-small {
  .aboutArticle :where(p, li) {
    font-size: .875rem;
  }
}

.aboutArticle :where(p, li)>strong {
  font-weight: 500;
  color: #fff;
}

.aboutArticle :where(p, li) b {
  font-family: "Inter", system-ui, "Segoe UI", "Segoe UI Symbol", "System UI fonts";
  font-weight: 500;
}

.aboutArticle :where(p, li) :where(b, strong)[data-symbol=x] {
  font-weight: 600;
}