@mixin pulse($scale: 1.4, $initial-opacity: .8) {
  @keyframes pulse {

    from {
      scale: 1;
      opacity: #{$initial-opacity};
    }

    to {
      scale: #{$scale};
      opacity: 0;
    }
  }
}

@mixin frozen {
  @keyframes frozen {

    0%,
    100% {
      filter: brightness(1);
    }

    50% {
      filter: brightness(1.5);
    }
  }
}

@mixin bomb-pulse {
  @keyframes bomb-pulse {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
  }
}

@mixin fade-in {
  @keyframes fade-in {
    0% {
      opacity: 0.1;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin bomb-pulse {
  @keyframes bomb-pulse {
    0% {
      scale: 1;
      opacity: 1;
    }

    100% {
      scale: 1.03;
      opacity: 0.95;
    }
  }
}