@use "@/styles/mixins" as m;

.powerUps {
  display: flex;
  gap: 15px;
  background: rgba(255, 255, 255, .05);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);

  &.hidden {
    display: none;
    pointer-events: none;
  }
}

@include m.medium {
  .powerUps {
    flex-direction: column;
  }
}

@include m.small {
  .powerUps {
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    display: none;

    &:where(.player1, .player2):not(.hidden).active {
      display: flex;
    }
  }
}