@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.frozen;
@include keyframe.bomb-pulse;
@include keyframe.fade-in;

.square {
  --size: 85px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #3f4650;
  border: 2px solid transparent;
  min-width: var(--size);
  min-height: var(--size);
  border-radius: 10px;
  @include m.center-x-y;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
  z-index: 1;
  transition:
    background .3s ease,
    border-color .3s ease,
    box-shadow .3s ease,
    text-shadow .3s ease;

  &.x4 {
    --size: 70px;
  }

  &.x5 {
    --size: 60px;
  }

  &:not(:disabled, .freeze, .bomb, .select):where(:hover, :focus-visible) {
    background: #505762;
    border-color: #858a91;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .3);
    cursor: pointer;
  }

  &:not(:disabled).freezeHover:where(:hover, :focus-visible) {
    border-color: #87ceeb;
    box-shadow: 0 0 4px #87ceeb;
    background: linear-gradient(45deg, #87CFEB, #4683B4);
  }

  &:not(:disabled).bombHover:where(:hover, :focus-visible) {
    border-color: #e98061;
    background: linear-gradient(45deg, #ff4400, #ff6347);
  }
}

@include m.medium {
  .square {
    &.x4 {
      --size: 61px;
    }

    &.x5 {
      --size: 48.1px;
    }
  }
}

@media (max-width: 500px) {
  .square {
    --size: auto !important;
    flex: 1;
    aspect-ratio: 1/1;
  }

  :where(.square.x4, .square.x5) {
    font-weight: 400;
  }
}

.freeze {
  position: absolute;
  inset: 0;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(45deg, #87ceeb, #4682b4);
  animation: frozen 2s ease-in-out;
}

.square.bombHover:where(:hover, :focus-visible) .freeze {
  background: linear-gradient(45deg, #ff4400, #ff6347);
  border-color: #e98061;
}

.bomb {
  position: absolute;
  inset: 0;
  width: calc(100% + 4px);
  height: calc(100% + 3px);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: inherit;
  z-index: 1;
  background: linear-gradient(45deg, #ff4500, #ff6347);
  animation: bomb-pulse .5s ease-in-out 1;
}

.swap {
  position: absolute;
  inset: 0;
  width: calc(100% + 4px);
  height: calc(100% + 3px);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: inherit;
  z-index: 1;
  background: linear-gradient(45deg, #ffd93d, #ffd93d);
  box-shadow: 0 0 10px rgba(255, 217, 61, .5);
  animation: fade-in .9s ease forwards;
}

.square.playerX {
  border-color: #4ecdc4;
  background: #324a54;
  color: #4ecdc4;
  text-shadow: 0 0 20px #5adad1;
  box-shadow: 0 0 15px rgba(78, 205, 196, .5);

  &.x4 {
    font-size: 1.8rem;
  }

  &.x5 {
    font-size: 1.5rem;
  }
}

.square.playerO {
  border-color: #ff6b6b;
  background: rgba(255, 128, 128, .2);
  color: #ff6b6b;
  text-shadow: 0 0 20px #fd7272;
  box-shadow: 0 0 15px rgba(255, 107, 107, .5);
  font-size: 3.8rem;

  &.x4 {
    font-size: 3.6rem;
  }

  &.x5 {
    font-size: 2.9rem;
  }
}

.square.select {
  border: 2px dashed #ffd93d;
  color: #ffd93d;
  background: #504d38;
  box-shadow: 0 0 10px rgba(255, 217, 61, .5);
  text-shadow: 0 0 20px #ffd93d;
}

.square:not(:disabled, .select).swapHover:where(:hover, :focus-visible) {
  color: #ffd93d;
  background: #504d38;
  border-color: #95843b;
  box-shadow: 0 0 10px rgba(255, 217, 61, .5);
  text-shadow: 0 0 20px #ffd93d;
}

@media (hover: none) and (pointer: coarse) {
  .square:not(:disabled, .freeze, .bomb, .select, .swapHover):hover {
    background: #3f4650;
    border-color: transparent;
    box-shadow: none;
  }
}

.square.playerO .symbol {
  position: absolute;
  left: 50%;
  top: calc(50% + -3px);
  translate: -50% -50%;
}