@use "@/styles/mixins" as m;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin-bottom: 30px;
  gap: 30px;
}

@include m.small {
  .header {
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
}

.header>a {
  outline: solid 2px transparent;
  border-radius: 1px;
  outline-offset: 12px;
  color: rgba(255, 255, 255, .8);
  transition: outline-color .3s ease;

  &:focus-visible {
    outline-color: #fff;
  }
}