@use "@/styles/mixins" as m;

.infoCard {
  margin-bottom: 40px;
  background: rgba(255, 255, 255, .03);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .07);
}

@include m.small {
  .infoCard {
    padding: 15px;
  }
}

.infoCard.nestedCard {
  margin-bottom: 30px;
  background: rgba(255, 255, 255, .05);
  border: 1px solid rgba(255, 255, 255, .1);
}

.infoCard .title {
  font-weight: 700;
  margin-bottom: 22px;
  color: #7affde;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(122, 255, 222, .2);
  letter-spacing: .8px;
  text-shadow: 0 0 8px rgba(122, 255, 222, .3);
  font-size: clamp(1.62rem, 5vw, 2rem);
}

.infoCard.nestedCard .title {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #ffd93d;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 217, 61, .25);
  text-shadow: 0 0 5px rgba(255, 217, 61, .3);
  display: flex;
  align-items: center;
  gap: 10px;
}