.button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #313946;
  border: 1px solid #5a606a;
  color: #e9e9ec;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: .75rem;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  left: 20px;
  bottom: 40px;
  transition: background .2s ease, border-color .2s ease;

  &:hover {
    background: #3b4350;
    border-color: #777c84;
  }

  &:focus-visible {
    background: #3b4350;
    border-color: #fff;
  }

  &:active {
    background: #474e59;
    border-color: #777c84;
  }
}

@media (max-width: 620px) {
  .button {
    position: static;
  }
}

.button>svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: rgba(255, 255, 255, .8);
}